#gitimg{
    width: 500px;
    margin-left: 25vw;
}

#gitinf ul{
    list-style-type: disc;
    margin-left: 1.5em;
}
#gitinf ul li{
    font-size: 18px;
}

code{
    font-style: italic ;
    text-decoration: underline;
    font-family: Microsoft sans-serif;
}